<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h2>
    <%= title %>
  </h2>

  <form action="/login/">
    <label for="username">Username</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="pass">Password</label><br>
    <input type="text" id="pass" name="pass"><br><br>
    <input type="submit" value="Submit">
  </form>
</body>

</html>